    body{
            padding: 0;
            margin: 0;
            border: 0;
            background-color:purple;

    }

    /* Header Section */
    .header{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        background-color: rgb(92, 5, 92);
        color: white;
        font-size: 30px;
        font-weight: bold;
    }


    
    .outer{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 80vh;
        margin-top: 25px;
        
    }


    /* Game Area Section 1 Card */

    .inner{
        display: flex;
        flex-direction: column;
        background-color:white;
        width: 550px;
        height: 550px;
        border-radius: 20px;
        border: inset 3px solid rgb(92, 5, 92);
        
    }
      
    #btn1{
        background-color: aliceblue;
        padding: 20px;
        border-radius: 20px;
        width: 30%;
        margin: 0 auto;
        border: 3px solid purple;
    }
    #btn1:hover{
        background-color: purple;
        color: aliceblue;
    }
    
    #btn2{
        display: none;
        background-color: aliceblue;
        padding: 20px;
        border-radius: 20px;
        width: 30%;
        margin: 0 auto;
        border: 3px solid purple;
        font-size: larger;
    }
    #btn2:hover{
        background-color: purple;
        color: aliceblue;
    }
    
    
    #msg{
        text-align: center;
        margin: 60px 20px 0 20px;
        border: 1px solid black;
        border-radius: 20px;
        display: inline;
        padding: 5px 0;
    }
    span{
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 40px;
        margin-top: 20px;
    }
    .inner h1{
      display: inline;
      font-size:100px;
      text-align: center;
      margin: 40px 0;
      margin-left: 250px;
      
    }
    .inside-inner{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        
        
    }
    .images img{
        height: 40px;
        width: 40px;
      }
    #img1{
        display: flex;

    }
    #img2{
        display: flex;

    }
    #img3{
        display: flex;

    }

    .images{
        display: flex;
        justify-content:right;
        margin-left: auto;
        margin-right: 40px;
        border: 3px solid rgb(92, 5, 92);
        border-radius: 20px 10px;
    }

    
    /* input-submit-giveapp-btns */

    .input-submit-giveup-btns{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        gap: 40px;
        
    }
    .input-submit-giveup-btns input{
        padding: 10px;
        border-radius: 20px;
        border: 3px solid purple;
        width: 200px;
        text-align: center;
    }
    .input-submit-giveup-btns input:hover{
        border: 3px solid purple;
    }
    
    /* if i tap on input purple color border has to be there for that i use focus */

    .input-submit-giveup-btns input:focus{
        outline: none;
        border: 3px solid purple;
    }

    .input-submit-giveup-btns button{
        padding: 10px;
        border-radius: 20px;
        border: 3px solid purple;
        background-color: #fff;
        width: 100px;
        text-align: center;
    }
    .input-submit-giveup-btns button:hover{
        background-color: purple;
        color: white;
        border: none;
    }

    #guess{
        display: none;
    }


    /* Celebration Images Style*/

    .topimages{
        display: none;
        justify-content: space-between;
    }
    #topleft{
        width: 15%;
        rotate: 90deg;
        border-radius: 20px;
    }
    #topright{
        width: 15%;
        rotate: 180deg;
        border-radius: 20px;

    }

    .buttomimages{
        display: none;
        justify-content: space-between;
        margin-top: 30px;
    }

    #buttomleft{
        width: 15%;
        rotate: 360deg;
        border-radius: 20px;
    }
    #buttomright{
        width: 15%;
        rotate: 270deg;
        border-radius: 20px;
        margin-right: 1px;
        
    }

        
     /*Game Status Section 2 Card */

    .text{
        
        margin-top: 20px;
    }
    .text h1{
        display: block;
        margin: auto;
        font-size: 50px;
        color: purple;
    }
    .text h2{
        display: block;
        border: 3px solid purple;
        border-radius: 20px;
        padding: 10px;
        text-align: left;
        font-size: 40px;
        margin: 40px 60px;
    }